@model IEnumerable<SistemaDealer1.Models.Movimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"  style="color:blue;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            <a><i class="far fa-edit"></i></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovimientoId }) |
            <a><i class="fas fa-list"></i></a>
            @Html.ActionLink("Details", "Details", new { id = item.MovimientoId }) |
            <a><i class="fas fa-trash"></i></a>
            @Html.ActionLink("Delete", "Delete", new { id = item.MovimientoId })
        </td>
    </tr>
}

</table>
