@model SistemaDealer1.Models.FacturaDTO

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Factura</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Factura.VehiculoId, "Vehiculo", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.Factura.VehiculoId,
        new SelectList(Model.Vehiculos, "Vehiculo.VehiculoId", "MarcaNombre"), "-Seleccione un vehículo-", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Factura.VehiculoId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Factura.ClienteId, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })    
        @Html.DropDownListFor(model => model.Factura.ClienteId,
        new SelectList(Model.Clientes, "ClienteId", "Nombre"), "-Selecciones un Cliente-", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Factura.ClienteId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Factura.EmpleadoId, "Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.Factura.EmpleadoId,
        new SelectList(Model.Usuarios, "EmpleadoId", "Nombre"), "-Selecciones un Empleado-", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Factura.ClienteId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.DetalleFactura.Cantidad, "Cantidad", htmlAttributes: new { @class = "control-label col-md-6" })
        @Html.TextBoxFor(c => c.Factura.Cantidad, new { @class = "form-control", type = "number" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.Factura.MetodoPago, "Método de pago", htmlAttributes: new { @class = "control-label col-md-6" })
        @Html.EnumDropDownListFor(c => c.Factura.MetodoPago,new { @class = "form-control" })
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
