@model IEnumerable<SistemaDealer1.Models.Factura>

@{
    ViewBag.Title = "Index";
}<p>
    <a href="/Facturas/Create">
        <i class="fas fa-file-invoice" style="font-size:30px;margin-top:10px;"> Nueva Factura </i>
    </a>
</p>
<table class="table"  style="color:blue;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetodoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            <a><i class="far fa-edit"></i></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.FacturaId }) |
            <a><i class="fas fa-list"></i></a>
            @Html.ActionLink("Details", "Details", new { id = item.FacturaId }) |
            <a><i class="fas fa-trash"></i></a>
            @Html.ActionLink("Delete", "Delete", new { id = item.FacturaId })
        </td>
    </tr>
}

</table>
