<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dealer2.0</title>

    <script src="https://kit.fontawesome.com/e3596cc206.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/popper.min.js"></script>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Clientes/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Lista de Clientes registrados">
                      
                        <Strong> <i class="fas fa-user-friends"></i> Clientes</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Empleadoes/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Lista de Empleados registrados">
                        <Strong> <i class="fas fa-user-tie"></i> Empleados</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Facturas/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Manejo de las Facturas">
                        <Strong><i class="fas fa-file-invoice"></i> Facturas</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Rols/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Manejo de los roles de los Empleados">
                        <Strong><i class="fas fa-user-tag"></i> Roles</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Sucursals/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Manejo de las Sucursales">
                        <Strong><i class="fas fa-store-alt"></i> Sucursales</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Proveedores/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Manejo de los Proveedores registrados">
                        <Strong><i class="fas fa-store-alt"></i> Proveedores</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Vehiculoes/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Lista de los Vehículos registrados">
                        <Strong><i class="fas fa-car"></i> Vehículos</Strong>
                    </a>
                </li>

                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">
                    <a href="/Movimientos/Index" style="font-family:'Lora', serif;font-size: 20px" data-toggle="tooltip" data-placement="top" title="Manejo de las Ventas/Compras de la empresa">
                        <Strong><i class="fas fa-money-check-alt"></i> Movimientos</Strong>
                    </a>
                </li>
                <li class="nav-item" style="margin-right:100px;margin-top:auto;margin-bottom:auto">

                    <div class="dropdown">
                        <a class="dropdown-toggle" style="cursor:pointer; font-family:'Lora', serif;font-size: 17px"  id="dropdownMenuButton" data-toggle="dropdown" title="Caracteristicas Adicionales">
                            <Strong><i class="fas fa-tools"></i> Caracteristicas</Strong>
</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="/Combustibles/Index">
                                <i class="fas fa-gas-pump"> Combustibles</i>
                            </a>
                            <a href="/Marcas/Index">
                                <i class="fas fa-copyright"> Marcas</i>
                            </a>                
                            <br/>
                            <a href="/Modeloes/Index">
                                <i class="fas fa-car"> Modelos</i>
                            </a>
                            <a href="/Transmisions/Index">
                                <i class="fas fa-car-battery"> Transmisones</i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dealer 2.0</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.dropdown-toggle').dropdown();
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@