@model IEnumerable<SistemaDealer1.Models.Rol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="/Rols/Create">
        <i class="fas fa-user-tag" style="font-size:30px;margin-top:10px;"> Nuevo Rol</i>
    </a>
</p>
<table class="table"  style="color:blue;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            <a><i class="far fa-edit"></i></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.RolId }) |
            <a><i class="fas fa-list"></i></a>
            @Html.ActionLink("Details", "Details", new { id = item.RolId }) |
            <a><i class="fas fa-trash"></i></a>
            @Html.ActionLink("Delete", "Delete", new { id = item.RolId })
        </td>
    </tr>
}

</table>
