@model IEnumerable<SistemaDealer1.Models.Transmision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"  style="color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            <a><i class="far fa-edit"></i></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.TransmisionId }) |
            <a><i class="fas fa-list"></i></a>
            @Html.ActionLink("Details", "Details", new { id = item.TransmisionId }) |
            <a><i class="fas fa-trash"></i></a>
            @Html.ActionLink("Delete", "Delete", new { id = item.TransmisionId })
        </td>
    </tr>
}

</table>
